In [1]:
print("OK")

OK

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("PJMW_hourly.csv")
df.head()

              Datetime  PJMW_MW
0  2002-12-31 01:00:00   5077.0
1  2002-12-31 02:00:00   4939.0
2  2002-12-31 03:00:00   4885.0
3  2002-12-31 04:00:00   4857.0
4  2002-12-31 05:00:00   4930.0

In [5]:
df.shape

(143206, 2)

In [6]:
df.columns

Index(['Datetime', 'PJMW_MW'], dtype='object')

In [4]:
data = df.to_dict(orient="records")

In [5]:
DB_NAME="ElectricMeter"
COLLECTION_NAME="ElectricMeter_Data"
CONNECTION_URL="mongodb+srv://202111077:0000@cluster0.6k96iap.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [6]:
import pymongo

In [7]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]
rec = collection.insert_many(data)

In [16]:
records = collection.find()
records

In [ ]:
for i ,j in enumerate(records):
    print(f"{i}: {j}")

In [1]:
df = pd.DataFrame(list(collection.find()))
df.head()

NameError: name 'pd' is not defined